* { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 10px;
}

.white {
	background-color: rgb(255, 255, 255);
}

.black {
	background-color: rgb(0, 0, 0);
}

#loading-box {
	display: none;
}

.next {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	/*background: rgba(100, 0, 240, 0.2);*/
	cursor: default;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

div {
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-o-transition: opacity .25s;
}

.no-transition {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
}

.position-0,
.position-1,
.position-2,
.position-3,
.position-4,
.position-5,
.position-6,
.position-7,
.position-8,
.position-9 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	margin: 2em;
}

.position-0 { background-position: center; margin: 0; }
.position-1 { background-position: left top; }
.position-2 { background-position: center top; }
.position-3 { background-position: right top; }
.position-4 { background-position: left; }
.position-5 { background-position: center; }
.position-6 { background-position: right; }
.position-7 { background-position: left bottom; }
.position-8 { background-position: center bottom; }
.position-9 { background-position: right bottom; }

.size-0 {
	background-size: cover;
	-ms-behavior: url(/backgroundsize.min.htc);
}

.size-1.portrait { background-size: auto 30%; }
.size-2.portrait { background-size: auto 45%; }
.size-3.portrait { background-size: auto 55%; }
.size-4.portrait { background-size: auto 85%; }

.size-1.landscape { background-size: 30%; }
.size-2.landscape { background-size: 40%; }
.size-3.landscape { background-size: 55%; }
.size-4.landscape { background-size: 70%; }