* { 
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
}

html, body {
	margin: 0;
	padding: 0;
}

div {
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	-o-transition: opacity .25s;
}

.no-transition {
	transition: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
}

#loading {
	display: none;
}

.next {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: transparent;
	/*background: rgba(100, 0, 240, 0.2);*/
	cursor: default;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.position-0 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.position-5 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	margin: auto;
}