<!DOCTYPE html>
<!-- Arturo Castillo Delgado <19@8302.net> -->
<html>
	<head>
		<title><%= data.title %></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Aleix Plademunt, photography, Almost There, Ca l'Isidret Edicions, Mack Books">

		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="<%= data.background %>">
		<a href="<%= data.next %>" class="next">Next</a>

		<% _.each(data.images, function (image) { %>
			<div class="<%= image.class %> position-<%= image.position %> size-<%= image.size %> <%= image.orientation %>" 
				data-src="<%= image.src %>" 
				data-action="<%= image.action %>" 
				data-delay="<%= image.delay %>" 
				style="z-index:<%= image.z %>;"></div>
		<% }); %>

		<% if (data.text) { %>
			<div class="text"><%= data.text %></div>
		<% } %>

		<div id="loading-box"></div>
		<div id="spinner"></div>

		<script>
		var filepath = '<%= data.filepath %>';
		var slug = '<%= data.slug %>';
		var pages = JSON.parse('<%= data.pages %>');
		<% if (!_.isEmpty(data.preload)) { %>
		var preload = JSON.parse('<%= data.preload %>');
		<% }; %>
		</script>
		
		<script src="/js/scripts.js"></script>

		<!--[if lte IE 7]><p>Your browser is too old.</p><![endif]-->
		<noscript><p>This website needs JavaScript, it's 2013.</p></noscript>
	</body>
</html>