<!DOCTYPE html>
<!-- Arturo Castillo Delgado <19@8302.net> -->
<html>
	<head>
		<title><%= data.title %></title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Aleix Plademunt, photography, Almost There, Ca l'Isidret Edicions, Mack Books">

		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body class="<%= data.background %>">
		<a href="<%= data.next %>" id="next">Next</a>
		
		<div id="images"></div>
		<div id="text"></div>

		<div id="loading-box"></div>
		<div id="spinner"></div>

		<script>
		var filepath = '<%= data.filepath %>';
		var pages = JSON.parse('<%= data.pages %>');
		var slug = '<%= data.slug %>';
		var link = '<%= data.link %>';
		</script>
		
		<script src="/js/vendor.js"></script>
		<script src="/js/almost-there.js"></script>

		<!--[if lte IE 7]><p>Your browser is too old.</p><![endif]-->
		<noscript><p>This website needs JavaScript, it's 2013.</p></noscript>
	</body>
</html>